<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <section class="news">
        <nav>
            <a href="{% url 'home' %}">Главная</a>
        </nav>
        <h2>Список новостей</h2>
        <ul>
            {% for article in articles %}
            <li>
                <h3>{{ article.title }}</h3>
                <p>{{ article.content }}</p>
                <p><em>Автор: {{ article.author }} | Дата: {{ article.published_date }}</em></p>
            </li>
            {% endfor %}
        </ul>
    </section>
</body>

</html>