* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ----------------------------------------------------------------*/

@font-face {
  font-family: "epilepsy-sans";
  src: url("fonts/epilepsy-sans1.ttf") format("truetype");
}
/* -- styles ( GLOBALS ) -- */
* {
  /* outline: 1px solid gray; */
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.25em;
  font-weight: bold;
}
html {
  font-family: "epilepsy-sans", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--main-color);
}

:root {
  --main-color: #404040;
  --main-shadow: #d4d4d4;
  --second-color: #fafafa;
}

/* -- also styles -- */
.button {
  background: var(--main-color);
  color: var(--second-color);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25em;
  outline: 1px dotted;
}

#logout-form {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  width: mac-content;
  z-index: 999;
}

#logout-form button {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: red;
}

section {
  padding: 2rem;
  background: var(--second-color);
}

/* -- styles (section) { home } -- */
section.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;

  font-size: 2rem;
  background: var(--second-color);
  font-style: italic;
}

section.home h1 {
  text-align: center;
  font-weight: bold;
  background: var(--main-color);
  color: var(--second-color);
  padding: 2rem;
  /* border-radius: 3rem; */
}
section.home nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section.home nav ul li {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25em;
  outline: 1px dotted;
}
section.home nav ul li:hover {
  background: var(--main-shadow);
}
section.home nav ul .nav__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section.home .decor {
  position: absolute;

  padding: 1rem;
  background: var(--main-color);
}

section.home .decor:nth-child(3) {
  top: 0;
  left: 0;
}

section.home .decor:nth-child(4) {
  top: 0;
  right: 0;
}

section.home .decor:nth-child(5) {
  bottom: 0;
  left: 0;
}

section.home .decor:nth-child(6) {
  bottom: 0;
  right: 0;
}

/* -- styles (section) { news } -- */

section.news {
  /* { news } LOCAL */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

section.news h2 {
  /* { newS } TITLE */
}

section.news nav {
  /* { news } nav */
  position: fixed;
  display: flex;
  padding: 0.5rem;
  min-width: 2rem;
  right: 0;
  top: 0;
  margin: 0.5rem;
  border: 1px solid var(--main-shadow);
  background: white;
}

section.news ul {
  /* { news-cards } list */
  min-width: 365px;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

section.news h3 {
  /* { news-card } title */
}

section.news li {
  /* { news-card } body */
  border: 1px solid var(--main-shadow);
  padding: 1rem;
  background: white;
}

section.news p {
  /* { news-card } content */
  font-weight: lighter;
}

section.news p em {
  /* { news-card } info */
  color: var(--main-shadow);
  font-size: 0.8em;
  margin-top: 1em;
}
