{% extends "index.html" %}
{% block section %}
<section class="home">
    <h1>>>>Infinity_CTF</h1>
    <nav>
        <ul>
            <div class="nav__panel nav__panel-top">
                <li><a href="{% url 'news' %}">новости</a></li>
                <li><a href="{% url 'home' %}">рейтинг</a></li>
            </div>
            <div class="nav__panel nav__panel-bottom">
                <li><a href="{% url 'home' %}">календарь</a></li>
                <li><a href="{% url 'home' %}">поиск команды</a></li>
                <li><a href="{% url 'home' %}">зал славы</a> </li>
            </div>
        </ul>
    </nav>
    <div class="decor"></div>
    <div class="decor"></div>
    <div class="decor"></div>
    <div class="decor"></div>
</section>
{% endblock %}